.row {
    color: white;
    margin: 0 20px;
}
.row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
}
.row__poster {
    max-height: 180px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 450ms;
}
.row__posterLarge {
    max-height: 250px;
}

.row__poster:hover {
    transform: scale(1.06);
    opacity: 1;
}
.title {
    display: none;
    position: absolute;
    bottom: -10px;
    z-index: 200;
}
.row__poster:hover + .title {
    display: block;
}
